/* -----------------------------Fonts Style----------------- */
/* Font-weight 700-Bold*/
@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.ttf");
}
.name {
  font-family: "WorkSans-Bold";
  font-size: 24px;
}
.two {
  font-family: "WorkSans-Bold";
  font-size: 14px;
  line-height: 16.4px;
}
.three h2,
.four h2,
.five h2,
.six h2,
.seven h2 {
  font-family: "WorkSans-Bold";
  font-size: 14px;
  line-height: 16.4px;
  margin-bottom: 7px;
}

/*Font-weight 600-SemiBold */
@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.ttf");
}
.name__info span {
  font-family: "WorkSans-SemiBold";
  font-size: 12px;
  color: var(--color-black);
}

/*Font-weight 400-Regular */
@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.ttf");
}
.name__info {
  font-family: "WorkSans-Regular";
  font-size: 12px;
  color: var(--color-black);
}
.three p,
.four li,
.five li,
.six li,
.seven li {
  font-family: "WorkSans-Regular";
  font-size: 14px;
  line-height: 16.4px;
  color: var(--color-black);
}
/* ----------------------General styles----------------- */
:root {
  --color-peachy: #ffb084;
  --color-white: #fff;
  --color-black: #000;
  --color-green: #29a71e;
  --color-blue: #3675b0;
  --color-red: #e13535;
}
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* ---------------------------Styles to page------------------ */

.backgr {
  margin: 0 auto;
  min-height: 460px;
  max-width: 755px;
  background-color: var(--color-peachy);
  border-radius: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 14px 22px;
  width: 100%;
  padding: 27px 38px;
  box-sizing: border-box;
}
.grid > article {
  min-height: 62px;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--color-white);
}
.one {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  box-shadow: 7px 7px 0px var(--color-black);
}
.one > div {
  width: 101px;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 3px;
}
.one img {
  width: 100%;
}
.name__info > li {
  padding-top: 14px;
  box-sizing: border-box;
}
.info__item {
  display: flex;
  justify-content: space-between;
}
.two {
  grid-column: 1;
  grid-row: 5;
  box-shadow: 7px 7px 0px var(--color-black);
}
.three {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: -1;
  box-shadow: 7px 7px 0px var(--color-black);
}

.four {
  grid-row: 2;
  grid-column: 2;
  box-shadow: 7px 7px 0px var(--color-green);
}
.four h2 {
  color: var(--color-green);
}
.four > ul,
.five > ul,
.six > ul {
  padding-left: 25px;
  box-sizing: border-box;
}
.four li,
.five li,
.six li {
  list-style-type: disc;
}
.five {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 3;
  box-shadow: 7px 7px 0px var(--color-red);
}
.five h2 {
  color: var(--color-red);
}
.six {
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  box-shadow: 7px 7px 0px var(--color-blue);
}
.six h2 {
  color: #3675b0;
}
.seven {
  grid-row: 4/6;
  grid-column: 3;
  box-shadow: 7px 7px 0px var(--color-black);
}

/* ----------------------------Media screen------------------ */
@media screen and (max-width: 600px) {
  .grid {
    display: block;
  }
  article.one,
  article.two,
  article.three,
  article.four,
  article.five,
  article.six,
  article.seven {
    margin-bottom: 15px;
  }
  .name {
    text-align: center;
  }
  .info__item {
    display: block;
  }
  .info__item > div:first-child {
    margin-bottom: 14px;
  }
}
